# 项目排除路径
/target/
.idea
.vscode
/frontend/node_modules
/src/main/resources/application.yml
/src/main/resources/application-dev.yml
/src/main/resources/application-prod.yml
/src/main/resources/application-test.yml
/src/main/resources/application-local.yml